.productContainer {
    background-color: black;
    width: 100%;
    min-height: 100vh; 
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 0 100px 0;
}